[tools]
go = "1.25"
"go:github.com/daixiang0/gci" = "latest"
"ubi:golangci/golangci-lint" = "2.5"
"ubi:goreleaser/goreleaser" = "2.12"

[env]
CGO_ENABLED=0
LGFLAGS="-extldflags '-static'"
SKPR_API="localhost:50051?insecure=true"
SKPR_SSH="localhost:2222"
SKPR_PROJECT="drupal"

[tasks.vendor]
description = "Vendor resets the main module's vendor directory to include all packages needed to build the application"
run = "go mod vendor"

[tasks.tidy]
description = "Tidy makes sure go.mod matches the source code in the module"
run = "go mod tidy"

[tasks.build]
description = "Build the application"
run = '''
go build -o bin/skpr -ldflags=${CLI_LDFLAGS} github.com/skpr/cli/cmd/skpr
go build -o bin/skpr-rsh -ldflags=${CLI_LDFLAGS} github.com/skpr/cli/cmd/skpr-rsh
'''
depends = ["vendor"]

[tasks."lint"]
description = "Linting automatically checks code for errors and style issues"
run = "golangci-lint run"
depends = ["tidy"]

[tasks.test]
description = "Checks to verify code correctness"
run = "go test -cover ./..."
depends = ["vendor"]

[tasks.release]
description = "Release the command line interface"
run = "goreleaser"
depends = ["vendor"]
